PORT=5000
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster.xxxxx.mongodb.net/kittyGallery?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=zzzz
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx
FRONTEND_URL=http://localhost:5173
